    /***
** 
* Page-styles by TÄK
**
*/
    /*********Category************/
    /**#content .ct-container**/
    
    #content .ct-container {
        display: flex;
    }
    /**.lct-menu**/
    
    #content .ct-container .lct-menu {
        background: var(--bg-color);
        width: 24.33%;
    }
    
    #content .ct-container .lct-menu>h3 {
        background: var(--bg-cate-title-03);
        padding: 10px;
        color: #fff;
        font-weight: bold;
        text-align: center;
        font-size: 14px;
    }
    
    #content .ct-container .lct-menu .menu {
        margin-top: 20px;
        padding-left: 5px;
    }
    
    #content .ct-container .lct-menu .menu ul {
        padding-left: 10px;
    }
    
    #content .ct-container .lct-menu .menu ul li {
        margin-top: 8px;
    }
    /**.rct-items**/
    
    #content .rct-items .row-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        ++margin-bottom: 10px;
    }
    
    #content .rct-items .row-container .items {
        width: 22.33%;
    }
    
    #content .rct-items .row-container .items a img {
        height: 170px;
        width: 100%;
    }
    
    #content .rct-items .row-container .items h3 {
        display: block;
        text-align: center;
    }
    /******Trang dat mua*******/
    /*.top-content*/